<section id="digital-services" class="py-20 bg-white overflow-hidden">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 text-center">
    <span class="inline-block bg-primary/25 text-primary font-semibold text-sm sm:text-base px-4 py-1.5 rounded-full mb-6">
      {{ 'digitalServices.badge' | translate }}
    </span>
    <h2 class="text-3xl sm:text-4xl md:text-5xl font-extrabold text-dark tracking-tight leading-tight mb-4">
      {{ 'digitalServices.title' | translate }}
    </h2>
    <p class="text-slate-600 text-base sm:text-lg max-w-3xl mx-auto mb-10">
      {{ 'digitalServices.titleHighlight' | translate }}
    </p>
  </div>

  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-10">
    <div
      *ngFor="let service of digitalServices"
      class="group bg-primary/10 border border-border rounded-3xl p-8 flex flex-col items-center text-center gap-5 transform transition-all duration-350 hover:shadow-2xl hover:-translate-y-2 hover:scale-[1.02]"
    >
      <div class="w-16 h-16 rounded-full bg-gradient-to-tr from-primary/95 to-primary-dark flex items-center justify-center text-white shadow-lg transition-colors duration-300 ">
        <img [src]="service.icon" alt="{{ 'digitalServices.services.'+ service.index + '.title' | translate }} icon" class="w-6 h-6" />
      </div>

      <h3 class="text-lg sm:text-xl font-bold text-dark">{{ 'digitalServices.services.'+ service.index + '.title' | translate }}</h3>
      <p class="text-slate-600 text-sm sm:text-base leading-relaxed">{{ 'digitalServices.services.'+ service.index + '.title' | translate }}</p>
    </div>
  </div>
</section>
