<section id="services" class="py-28 sm:py-36 bg-dark overflow-hidden">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 text-center">
    <span
            class="inline-block bg-primary/25 text-primary font-semibold text-sm sm:text-base px-4 py-1.5 rounded-full mb-6">
      {{ 'services.badge' | translate }}
    </span>
        <h2 class="text-3xl sm:text-4xl md:text-5xl font-extrabold text-white tracking-tight leading-tight mb-4">
            {{ 'services.title' | translate }}
        </h2>
        <p class="text-slate-300 text-base sm:text-lg max-w-3xl mx-auto mb-10">
            {{ 'services.titleHighlight' | translate }}
        </p>
        <h3 class="text-xl sm:text-2xl md:text-2xl font-medium text-white tracking-tight leading-tight mb-4">
            {{ 'services.subtitle' | translate }}
        </h3>
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-10">
            <div
                    *ngFor="let service of services"
                    class="relative group bg-dark-lighter border-2 border-primary/20 rounded-3xl p-10 flex flex-col items-center text-center gap-6 shadow-lg hover:shadow-2xl transition-all duration-300 hover:-translate-y-2 hover:scale-[1.03]"
            >
                <div
                        class="w-16 h-16 rounded-full bg-gradient-to-tr from-primary/90 to-primary-dark flex items-center justify-center text-white shadow-lg mb-2 transition-colors duration-300 ">
                    <i [class]="service.faIcon + ' text-3xl sm:text-4xl'" aria-hidden="true"></i>
                </div>
                <h3 class="text-xl sm:text-2xl font-bold text-white mb-2 tracking-tight">
                    {{ 'services.services.' + service.index + '.title' | translate }}
                </h3>
                <!-- <p class="text-slate-300 text-sm sm:text-base max-w-xs leading-relaxed">{{ ('services.services.' + service.index + '.description') | translate }}</p> -->
                <!--        <a-->
                <!--          class="mt-2 inline-flex items-center gap-2 text-primary font-medium hover:underline focus:outline-none focus:ring-2 focus:ring-primary/40"-->
                <!--          href="#contact">-->
                <!--          {{ 'services.learnMore' | translate }}-->
                <!--          <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24">-->
                <!--            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14M12 5l7 7-7 7"/>-->
                <!--          </svg>-->
                <!--        </a>-->
            </div>
        </div>

        <h3 class="text-2xl sm:text-3xl font-extrabold text-white mt-12 mb-6">
            {{ 'services.skillsTitle' | translate }}
            <span class="inline-block gradient-text">{{ 'services.skillsTitleHighlight'  | translate }}</span>
        </h3>
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 mt-14 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
            <div *ngFor="let skill of skills"
                 class="flex items-center gap-4 p-5 bg-[#07101a] border border-border rounded-2xl hover:shadow-2xl transition-all duration-300 hover:-translate-y-2 hover:scale-[1.03]">
                <div
                        class="w-12 h-12 flex-shrink-0 rounded-lg bg-gradient-to-br from-primary to-primary-dark flex items-center justify-center text-white text-lg shadow-sm">
                    ✓
                </div>
                <div>
                    <h5
                            class="text-white font-semibold text-base">{{ 'services.benefits.' + skill.index + '.title' | translate }}</h5>
                    <!--            <p class="text-slate-300 text-sm mt-1">{{ ('services.benefits.' + benefit.index + '.description') | translate }}</p>-->
                </div>
            </div>
        </div>
        <!--      <p class="text-slate-300 text-lg mb-6">{{ 'services.rightColumnText' | translate }}</p>-->
        <a href="#contact"
           class="inline-flex mt-6 items-center justify-center bg-gradient-to-r from-primary to-primary-dark text-white px-6 py-3 text-base font-semibold rounded-lg shadow-lg hover:scale-[1.02] focus:outline-none focus:ring-4 focus:ring-primary/40 transition-transform">
            {{ 'services.cta' | translate }}
            <svg class="w-4 h-4 ml-3" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3"/>
            </svg>
        </a>
    </div>
</section>
